GridBackground
{
    --grid-background-color: #282828;
    --line-color: rgba(193, 196, 192, 0.1);
    --thick-line-color: rgba(193, 196, 192, 0.1);
    --spacing: 10;
}

DialogueNode #unity-text-input{
    width: 64px;
}

.output #unity-text-input
{
    flex-direction: Column;
    width: 64px;
}



DialogueNode #title{
    background-color: rgba(0, 132, 0, 1);
}